.btn-bulk{
  position: absolute;
  right: 20px;
  top: 0;
  background-color: #fff;
  color: #3A3A3A;
}.tab:hover{
  cursor: pointer;
}

.tab_selected{
  border-bottom:2px solid  #3190FF !important;
  color:#3190FF !important;
}
.btn-back{
position: absolute;
right: 0px;
top: 0;
/* background-color: #fff;
color: #3A3A3A; */
}
/* .btn-back:hover{
box-shadow: 0px 0px 7px #9e9d9d;
} */
.tab{
  width: 170px;
  display: inline-block;
  float: left;
  text-align: center;
  padding: 7px;
  color: #797979;
  margin-right: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 13px;
}

.tabhighlight{
  border-bottom:2px solid#3190FF;
}

.tab:hover{
  border-bottom:2px solid #3190FF;
}
.text-head{
  border-bottom: 1px solid #E3E3E3;
  padding-top: 14px;
}
span{
  font-size: 16px;
  font-weight: 500;
}
h5{
  color: #00000082;
  margin: 4px 0;
  font-size: 13px;
}
.red{
  color: red;
}
#billingtable thead{
  background: #E6E6E6;
  font-size: 13px;
}
#billingtable tbody{
  font-size: 13px;
}
.tab-body{
  /* height: 78vh; */
  background: #fff;
}
@media (max-width:1400px){
  /* .tab-body{
    height: 70vh;
    background: #fff;
    overflow-y: scroll;
  } */
  .pins{
    margin-bottom: 15%;
  }
}
.btn-update{
  background: #34A090;
  color: #fff;
}
h4#myModalLabel2 {
  font-size: 16px;
  padding: 0 15px;
  font-weight: 700;
}
.select{
  background: #F9F9F9;
  border: 1px solid #EAEAEA;
  font-size: 12px;
}
.btn-lost{
  background:#C62B0F;
  color: #fff;
}
.btn-edit{
  background:#888888;
  color: #fff;
}
.servicetbl{
  border: 1px solid #E3E3E3;
  font-size: 13px;
  font-weight: 600;
  margin-top: 15px;
}
.activitytbl td{
border-top: none;
font-size: 13px;
}
.activitytbl td span{
  font-size: 13px;
  }
  .location{
    font-size: 10px !important;
    position: relative;
    bottom: 0px;
}
#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.scrollbar
{
	height: 210px;
	overflow-y: scroll;
}

.yes{
  background-color: #34a090;
  color: #fff;
}
.footer {
  padding: 30px;
  text-align: right;
  border-top: 0px solid #e5e5e5;
}
.no{
  background-color: #888888;
  color:#fff;
}
.close {
  float: right;
  opacity: unset;
  color: #000;
  margin-top: 5px;
  font-size: 12px;
}

.searcicon{
  font-size: 13px;
  position: absolute;
  right: 170px;
  top: 57px;
  color: #414040;
}
.tbl-data td{
  font-size: 11px;
    padding: 3px 0;
}
.tbl-data td{
  border-top: transparent;
  font-size: 12px;
}
/* .form-control{
  background: #F9F9F9;
  border: 1px solid #EAEAEA;
} */
.btn-add{
  background-color: 
  #34A090;
  color:#fff
}
 .table2 td{
  border-top: transparent;
  font-size: 14px;
}
.basic-footer{
  background: #FAFAFA;
  /* position: absolute; */
  bottom: 0;
  padding: 20px 0;
  width: 100%;
  position: fixed;
}
.btn-primary{
  background: #02AFAC;
  border-radius: 4px;
  width: 40%;

  padding: 10px 0;
  border: none;
  float: right;
}



.callout::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
}


.callout.bottom::before {
  left: 79%;
  top: -22px;
  border-bottom: 10px solid #444;
}

.callouts--top:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 23px;
  top: -42px;
  border: 10px solid transparent;
  border-bottom: 32px solid rgb(193,193,193); /* IE8 Fallback */
  border-bottom: 32px solid rgba(193,193,193,0.5);
  z-index: 2;
}
.callouts--top:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 25px;
  top: -32px;
  border: 8px solid transparent;
  border-bottom: 25px solid #fff;
  z-index: 3;
}
.breadcrumps{
  position: relative;
  bottom: 59px;
  right: 167px;
  font-size: 25px;
  color: black;
  font-family: roboto;
 
}
.filter-design{
  left: -209px;
  /* right: -24px; */
  min-width: 328px;
  top: 136%;
  height: 560px;
}
.btn-primar{
  background: white;
  /* border-radius: 4px; */
  width: 215%;
  color: #0068E1;
  padding: 10px 0;
  border: none;
}
.btn-primary:focus{
  outline: none;
  border-color:transparent
}
.btn-primar:focus{
  outline: none;
  border-color:transparent
}
.btn-primar:active{
 box-shadow: none;
}
#btn-update:hover,#btn-cancel:hover, #btn-updatebusi:hover,#btn-cancelbusi:hover,.btn-dangers:hover{
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
}
.btn-upload {
  border-radius: 4px;
  padding: 5px 11px;
  width: 60%;
  font-size: 14px;
  color: #fff;
  background-color: #46546c;
}
.btn-dangers{
border:2px solid #000;
background: #fff;
color: #000 ;
position: relative;
  right: 15px;
}
.cont-title{
color: #a2afc6;
padding-top: 8px;
padding-bottom: 8px;
font-size: 16px;
font-weight: 700;
margin: 0;
padding-left: 35px;

}
.cont-title:hover{
color: #fff;
padding-left: 38px;
}
.cont-title span{
padding-left: 10px;
position: relative;
top: -2px;
}
.btn-primary:hover{
  background: #1C8684;
}
.btn-default{
  background: #ffffff;
  border-radius: 4px;
  width: 65%;
  border: 1px solid #D9D9D9;
}
.roll1{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 6px;
}
.roll2{
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-top: 6px;
}
.btn-menu{
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  padding: 3px 5px;
}
.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 700px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -320px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
  left: 0;
}
      
/*Right*/
.modal.right.fade .modal-dialog {
  right: -320px;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
  right: 0;
}
  /* .modal-backdrop.in {
      opacity: 0 !important;
  } */
/* ----- MODAL STYLE ----- */
.modal-content {
  border-radius: 0;
      border: none;
      box-shadow: none;
}

.modal-header {
  border-bottom-color: #EEEEEE;
  background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */


.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.btn-demo {
margin: 15px;
padding: 10px 15px;
border-radius: 0;
font-size: 16px;
background-color: #FFFFFF;
}

.btn-demo:focus {
outline: 0;
}

.demo-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 15px;
background-color: #212121;
text-align: center;
}

.demo-footer > a {
text-decoration: none;
font-weight: bold;
font-size: 16px;
color: #fff;
}
label{
  font-weight: 100;
  font-size: 12px;
}
.subform{
  font-weight: bold;
}
.subform span{ 
  font-weight:100;
  cursor: pointer;
}
th,td{
  padding: 8px;
}
.edit:hover{
  background: url('../../assets/images/edit.png');
  background-repeat: no-repeat;

}
.alt-num{
  float: right;
  font-size: 12px;
  cursor: pointer;
}
.btn-save{
  background: #8DBB19;
border-radius: 2px;
float: right;
color: #fff;
width: 117px;
}
.btn-apply{
background: #8DBB19;
border-radius: 2px;
float: left;
color: #fff;
width: 117px;
}
.btn-clear{
background: #8DBB19;
border-radius: 2px;
float: right;
color: #fff;
width: 117px;
}
.btn-save:hover{
  background: #8DBB19;
}
.btn-edit{
  position: absolute;
  top: 8px;
  background-color: #666666;
  color: #fff;
  padding: 2px 15px;
  font-size: 12px;
}
.btn-back:focus{
  outline: none;
}
.addnew{
  background-color: #F3F3F3;
  color: #4A90E2;
  width: 175px;
    margin-top: 11px;
}
.form-control{
  font-size: 14px;
  height: 35px;
  border-radius: 1px !important ;
}