<app-spinner *ngIf="loading"></app-spinner>
<div class="col-md-12" style="    margin: 10px 0 4px 0;padding:0px">
  <div class="col-md-3" style="padding: 0px;">
    <h4 style="font-weight: 700;">Deals</h4>
  </div>
  <div class="col-md-5"></div>
  <div class="col-md-4" style="padding: 0px;">
    <input type="text" class="form-control search-bar" list="clidata"
      (input)="SearchdataList($event.target.value);hidedropdown()" list="searcdata" placeholder="" autocomplete="off">
    <i class="fa fa-search searcicon"></i>
    <!-- <button  class="btn btn-md btn-bulk" data-toggle="modal" data-target="#CertificateModal" >Add Certification </button> -->
  </div>
  <!-- <span><input class="btn btn-md btn-upload" type="button" value="Import Contacts" ><i class=" 	fa fa-caret-down btncaret"></i></span>
<button class="btn btn-filter"><img src="assets/images/filter-btn.png"></button>
<button  class="btn btn-md btn-bulk">Bulk Action &nbsp;<i class=" fa fa-angle-down"></i></button> -->
</div>
<div class="col-md-12 table-responsive" style="padding: 0;    padding-top: 10px;">
  <table class="table" id="contacttable" *ngIf="lead_list?.length >0">
    <thead>
      <tr>
        <th style="width: 5%;text-align: center;"> <label class="container-checkbox">
            <input type="checkbox" class="checkAll" (click)="checkAll($event)">
            <span class="checkmark"></span>
          </label></th>
        <th>
          Name
        </th>
        <th>Phone</th>
        <th>Email</th>
        <th>Enquiry Status</th>
        <!-- <th>Enquired About</th> -->
        <th>Last Contacted</th>
        <th>Created on</th>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngFor="let data of lead_list| paginate: { itemsPerPage: 10, currentPage: p2,id: 'two'};let index=index">
        <tr>
          <td style="cursor: pointer; text-align: center;"> <label class="container-checkbox">
              <input type="checkbox" class="checkedsingle" (click)="checkSingle($event)">
              <span class="checkmark"></span>
            </label></td>
          <td style="cursor: pointer;" (click)="dealsview(data)"> <span>
              {{(data?.custname !=null) ? data?.custname : 'NA'}} {{(data?.custlastname !=null) ? data?.custlastname : 'NA'}}
            </span><br>
            <!-- <span class="location">Location</span> -->

          </td>
          <td style="cursor: pointer;" (click)="dealsview(data)">
            {{(data?.custphone !=null) ? data?.custphone : 'NA'}}
          </td>
          <td style="cursor: pointer;" (click)="dealsview(data)">
            {{(data?.custemail !=null) ? data?.custemail : 'NA'}}</td>
          <td style="cursor: pointer;" (click)="dealsview(data)">
            <div *ngIf="data?.status == 'closed'">
              Closed</div>
            <div *ngIf="data?.status == 'open'">
              Open</div>
            <div *ngIf="data?.status == 'pending'">
              Pending</div>
          </td>
          <!-- <td>Traning- AWS</td> -->
          <td style="cursor: pointer;" (click)="dealsview(data)">
            <ng-container *ngIf="data?.activity != []">
              {{((data?.activity[0]?.date !=null) ? data?.activity[0]?.date : '-NA-' )  | date:'dd-MM-yyyy'}} 

            </ng-container>
            <ng-container *ngIf="data?.activity == []">
              NA

            </ng-container>
          </td>
          <td style="cursor: pointer;" (click)="dealsview(data)">
            {{(data?.creationdate !=null) ? data?.creationdate : 'NA'}}
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <h4 *ngIf="lead_list?.length==0" style="text-align:center;padding:150px 0px"> Create Deal
    <img data-toggle="modal" data-target="#DealModal" class="lead-img" src="assets/images/deal-img.png"
      style="width: 4%;cursor: pointer;">
  </h4>
  <!-- <pagination-controls *ngIf="lead_list?.length >8" (pageChange)="p2 = $event" #api id="two" style="    font-size: 13px;
float: right;">
  </pagination-controls> -->
  <div style="float: right;margin-bottom: 35px;" *ngIf="lead_list?.length>0" >
    <button [disabled]="currentPage == 1" class="btn btn-default paginationbtn"
(click)="paginatePartList('prev')"><i class="fa fa-angle-left"></i></button>
<span style="font-size: 15px;
    padding: 10px;">
<input id="currentPageInput" class="paginatecontrol" type="text" value="{{currentPage}}"
    style="width: 50px;">
<i class="fa fa-search searchbtn" style="border: 1px solid #979797;
padding: 5px 4px;
position: relative;
top: 1px;
background-color: #b7b7b7;" (click)="searchPage()"></i>
of
{{totalPages}}
</span>

<button [disabled]="currentPage == totalPages" class="btn btn-default paginationbtn"
(click)="paginatePartList('next')"><i class="fa fa-angle-right"></i></button>
</div>
</div>